mat-snack-bar-container {
   --mat-snackbar-container-color: var(--primary-container);
   --mat-snackbar-supporting-text-color: white;
   --mat-snackbar-supporting-text-size: 1rem;
   --mat-snackbar-supporting-text-line-height: 1.5;

   --mat-snack-bar-button-color: var(--primary-text);
   --mat-button-text-label-text-size: 1.5rem;

   simple-snack-bar {
      gap: 2rem;
   }
}
